
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    rrrrrrrrr<img src="/imgs/20200128纸浆2105日.jpg">
    <img src="/zst1/20200202玻璃2105日.jpg">    
</body>
</html>
